html * {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: aquamarine;
}

canvas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

td, th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
}

td {
    width: 50px;
    height: 50px;
    font-weight: bold;
    justify-content: center;
    text-align: center;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 4px 6px;
    transition: 0.3s;
    font-size: 17px;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    overflow: auto;
    display: none;
    padding: 6px 12px;
    border-top: none;
}

.active{
    display: block;
}

.listAddInput {
    max-width: 30px;
}

#graphdata {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.property {
    background-color: cadetblue;
    border: 1px solid black;
}

.representationheader {
    background-color: darkcyan;
}

.double_middle {
    width: 48%;
    margin-left: 1%;
    margin-right: 1%;
    float: left;
}
